<div class="card" style="height: 100%;">
    <div class="card-body" style="padding-bottom: 0; position: relative;">
        <div class="row">
            <div class="col-md-4">
                <img src="{{tweet.user.profile_image_url}}" class="card-img">
            </div>
            <div class="col-md-8">
                <h5 class="card-title">{{tweet.user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">@{{tweet.user.screen_name}}</h6>
            </div>
        </div>
        <hr>
        <p class="card-text">{{tweet.full_text.substring(0,20)}}...</p>
        <hr>
        <div style="text-align: right;">
            <a href="#" class="card-link"><i class="fa fa-heart"></i></a>
            <a href="#" class="card-link"><i class="fa fa-retweet"></i></a>
            <a href="#" class="card-link"><i class="fa fa-share"></i></a>
        </div>
        <div style="margin-bottom: 70px;"></div>
    </div>
    <div class="half-circle-container">
        <div class="half-circle">
            <img src="{{logo}}" class="logo">
        </div>
    </div>
    <div class="tweet-more" [ngStyle]="{'bottom': bottom, 'height': height }">
        <div></div>
        <div class="tweet-more-text">
            <p style="margin-bottom: 35px;">{{tweet.full_text}}</p>
        </div>
        <div class="tweet-more-button">
            <a (click)="showFullTweet()">Mas...</a>
        </div>
    </div>
</div>


