<div class="card" style="height: 100%;">
    <div class="card-body" style="padding-bottom: 0; position: relative;">
        <h5 class="card-title">{{tweet.user.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">@{{tweet.user.screen_name}}</h6>
        <hr>
        <p class="card-text" style="margin-bottom: 60px;">{{tweet.full_text.substring(0,20)}}...</p>
        <!-- links para dar favorito pendiente -->
    </div>
    <div class="half-circle-container">
        <div class="half-circle">
            <img src="{{logo}}" class="logo">
        </div>
    </div>
    <div class="tweet-more">
        <div></div>
        <div class="tweet-more-text">{{tweet.full_text}}</div>
        <div class="tweet-more-button">
            <a (click)="showFullTweet()">Mas...</a>
        </div>
    </div>
</div>


