
.half-circle-container {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.half-circle {
    height: 45px;
    width: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: rgba(29,161,242,1.00);
    text-align: center;
    margin: 0 auto;
}

.logo{
    height: 140%;
}

.tweet-container {
    background-color: rgba(29,161,242,1.00);
    width: calc(90% - 30px);
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 5;/* establecer con ng class */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.tweet-container >a {
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.clicked {
    z-index: 6;
}

.unclicked {
    z-index: 5;
}

.tweet-text {
    color: white;
    text-align: justify;
    display: none;
}

.red {
    color: red;
    font-weight: bold;
}
.green {
    color: lawngreen;
    font-weight: bold;
}